<ion-header>
  <ion-toolbar color= "secondary">
    <ion-title >MAIN PAGE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
  <ion-card color="medium">
<ion-card-content>
  <img src= "https://yt3.googleusercontent.com/fh3Y18V6xblLz23S7gZDe6zIpChiEWpF7rpbvS6pNi0NsN5oNJIDWmKm9Gd2EMWv21rFO46ncQ=s900-c-k-c0x00ffffff-no-rj">
</ion-card-content>
</ion-card>

  <ion-button color= "primary" expand="block" (click)="printToScreen()">Clinics</ion-button>
  <ion-button color= "tertiary" expand="block" (click)="navigateToClinics()">Doctors</ion-button>
</ion-content>
